
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/contact.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <title>Contact</title>
</head>
<body>
<section id="contact" class="contact-section">
    <div class="contact-section text-center">
        <h1 class="mb-4">Get in Touch</h1>
        <br><br>
        <div class="card mx-auto">
            <br><br>
            <div class="card-body text-center">
                <i class="bi bi-envelope-fill mail-icon"></i>
                <p class="mt-3">Need assistance or have a query? Feel free to reach out!</p>
                <a href="mailto:shajanjjacob369@gmail.com?subject=Inquiry&body=I%20am%20interested%20in%20your%20portfolio." 
                   class="btn btn-primary">
                    Mail Me
                </a>
                <br><br><br><br>
            </div>
        </div>
    </div>
</section>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>





